@import 'abstracts/colors';
@import 'abstracts/typography';
@import 'abstracts/mixins';
@import 'abstracts/general';

@import 'base/typography';

@import 'layout/general';
@import 'layout/nav';
@import 'layout/home';
@import 'layout/about';
@import 'layout/facts';
@import 'layout/menu';
@import 'layout/info';
@import 'layout/discover';
@import 'layout/booking';
@import 'layout/soloimage';
@import 'layout/newmenu';
@import 'layout/social';
@import 'layout/footer';