

.section--discover {

    
    position: relative;
    overflow: hidden;
    

    &::before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1950px;
        z-index: -1;
        opacity: 0.7;
        background-image: url('../images/menu-bg.png');
        background-repeat: no-repeat;
        background-position: 55% 0;
        background-size: cover;
    }

    &__container {
        background-color: rgba($darkgreen, 0.90);
        padding: $spacer*3;
        margin-top: $spacer*18;
        margin-bottom: $spacer*14;
        text-align: center;
    }

    &__title {
        color: $gray;
    }

    &__meal {
        padding-top: $spacer*3;

        @include mq(big) {
            display: flex;
        }
    }

    &__meals {
        @include mq(big) {
            @include grid(2);
        }

        max-width: 1200px;
        margin: 0 auto;
    }
}


.meal-description {

    h3 {
        padding-top: $spacer;
        font-size: 1.7em;
        color: $gray;

        @include mq(big) {
            padding: 0 $spacer;
            text-align: left;
        }

    }

    p {
        padding-top: $spacer;
        font-size: 1em;
        max-width: $spacer*30;
        margin: 0 auto;

        @include mq(big) {
            padding: $spacer $spacer*1.7 0;
            text-align: left;
        }
    }

}

.desc-price {
    font-family: $ff-serif;
    font-size: 1.6em;
}