
//typography
.meal {

    padding: $spacer $spacer*3 $spacer*3;

    h3 {
        font-size: 1.5em;
        line-height: 1.2;
    }

    &__text {
        font-family: $ff-para;
        line-height: 1.2;
        margin: $spacer auto;
        max-width: 14em;
    }

    &__price {
        font-family: $ff-serif;
        font-size: 1.6em;
        line-height: 1.2;
    }

    @include mq(big) {
        padding: 0 $spacer;
        margin: auto 0;
        
        
    }
}

//layout

.section--menu {
    text-align: center;
    background-color: rgba($mediumgreen, 0.15);
    margin-top: $spacer*7;
    padding-top: $spacer*3;

    @include mq(big) {
        margin: $spacer*5 $spacer*8;
    }

    &__image {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

    
}

.meals {
    padding: $spacer*3;
    max-width: 1000px;
    margin: 0 auto;

    @include mq(big) {
        @include grid(4);
        padding: $spacer*3 0 0;
    }

}

//change the order of the items in the grid
.move-left-mid {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.move-right-mid {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}