
.section--soloimage {
    height: 500px;
    position: relative;

    &::before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 500px;
        z-index: -1;
        opacity: 0.7;
        background-image: url(../images/after-booking.png);
        background-repeat: no-repeat;
        background-position: 60% 0;
        background-size: cover;
    }

}